/node_modules
API.md
/dist
/.env
.DS_Store
/logs
/coverage
*.log
*.tmp
.idea/
.vscode/
*.swp
*.bak
*.old
/build
/.cache
/.parcel-cache
/.next
/out
/.nuxt
/.turbo
/.vercel
/.firebase
/.expo
/.serverless
/.history
/.pnp
/.pnp.js
/.yalc
/.vscode-test
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/.firebase/
/Thumbs.db
